*{
    box-sizing: border-box;
}

body {
    font-family: Consolas;
    color:#FCFCFC;
    background-color: #444444;
    margin: 0px;
    border: 0px;
    height: 99.99%;
    width: 100%;
    overflow-y: auto;
    position: relative;
}

header {
    background-color: #333333;
    height: 15%;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 0px;
    border:0;
    margin: 0;
    width:100%;
    position: relative;
}

.subtitle{
    text-align: left;
    font-weight: 400;
    font-size: 1.2em;
    border: 0;
    margin: 0;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 5%;
}

.flexbox{
    display: flex;    
    align-items: flex-start;
    margin: auto;
    border: 0px;
    margin: 0px;
    height: 66%;
}

.buttons{
    margin-left: 15%;
    margin-right: 5%;
}

.textbox{
    margin-left: 5%;
    margin-right: 15%;
    padding: 0px;
    margin-bottom: 30%;
}

.photos{
    
    margin-left: 5%;
    margin-right: 15%;
    padding: 0px;
    margin-bottom: 30%;
}

.works{
    margin: 0.5em;
}

#bio{
    padding-bottom:5%;
}

#portfolio{
    padding-top:5%;
    padding-bottom:5%;
}

#curriculum{
    padding-top:5%;
    padding-bottom:5%;
}

#contatti{
    padding-top:5%;
}

.buttons{
    vertical-align: text-top;
}

footer {
    background-color: #333333;
    height: 10%;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: 200;
    position: fixed;
    bottom: 0px;
}

a {
    margin: 0px;
    
    
    display: block;
}

a:link {
    color: whitesmoke;
    text-decoration: none;
}

a:visited {
    color: whitesmoke;
}

a:hover {
    color: #E9B000;
    font-weight: 500;
}

.toptitle{
    margin: 0px;
    border: 0px;
    display: inline;
    font-size: 2.2em;
    position: absolute;
    bottom: 0;
}

.credits{
    margin: 0px;
    border: 0px;
    display: inline;
    position: absolute;
    bottom: 0;
}

.text{
    border: 0;
    margin: 0;
    padding-left: 5%;
    vertical-align: text-top;
    font-size: 1em;
}