body {
    font-family: Consolas;
    color:#FCFCFC;
    background-color: #444444;
    margin: 0px;
    border: 0px;
    height: 99.99%;
    width: 100%;
}

header {
    background-color: #333333;
    height: 15%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 0px;
}

header::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: text-bottom;
}

main {
    border: 0px;
    margin: 0px;
    padding-left: 10%;
    padding-right: 10%;
    height: 75%;
    vertical-align: middle;
}

main::before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.buttons {
    display: inline-block;
    vertical-align: middle;
}

footer {
    background-color: #333333;
    height: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

footer::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}


a {
    margin: 0px;
    width: 100px;
    
    display: block;
}

a:link {
    color: whitesmoke;
    text-decoration: none;
}

a:visited {
    color: whitesmoke;
}

a:hover {
    color: sandybrown;
    font-weight: 600;
}

.toptitle{
    margin: 0px;
    border: 0px;
    display: inline-block;
    vertical-align: text-bottom;
}

.credits{
    margin: 0px;
    border: 0px;
    display: inline-block;
    vertical-align: bottom;
}
